<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgxh.springboot.mapper.UserMapper">

  <resultMap id="BaseResultMap" type="com.zgxh.springboot.model.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="last_ip" jdbcType="VARCHAR" property="lastIp" />
    <result column="last_time" jdbcType="VARCHAR" property="lastTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, user_code, username, password, email, tel, role, avatar, last_ip, last_time
  </sql>

  <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from loginuser
    where username = #{username}
  </select>

  <select id="selectRoleByUsername" parameterType="java.lang.String" resultType="java.lang.String">
    select
    role
    from loginuser
    where username = #{username}
  </select>

</mapper>